/* 主页的样式 */
body {
    /* body 设置一像素宽背景图，水平方向重复 */
    background: url(../img/body-bg.png) repeat-x;
    height: 2000px;
}

/* 固定宽度，和居中 */
.w {
    width: 940px;
    margin: 0 auto;
}

.header {
    /* background-color: aqua; */
    padding-top: 37px;
    padding-bottom: 46px;
}
.nav {
    float: right;
    margin-top: 22px;
}
.logo {
    margin-left: 15px;
    /* float: left; */
}
.nav li {
    float: left;
    padding: 0 10px 8px;
    border-left: 1px dotted #d6d6d6;
}
.nav a {
    color: #666;
    font: bold Georgia 14px;
    text-decoration: none;
}
.nav a:hover {
    color: #a1a1a1;
    text-decoration: underline;
}
/* chrome中字体最小支持到12px */
.nav p {
    color: #b7b7b7;
    font: 11px Tahoma;
}

.banner {
    position: relative;
    height: 356px;
    background: url(../img/banner/banner-bg.png) no-repeat bottom center;
}
.pointers {
    /* banner 相对定位，此时以banner左上角为原点 */
    position: absolute;
    top: 314px;
    left: 15px;
}
.pointers a {
    /* 自带边距 */
    /* display: inline-block; */
    float: left;
    width: 17px;
    height: 17px;
    background: url(../img/point.png) no-repeat;
    margin-left: 4px;
}
.pointers .active,
.pointers a:hover {
    background: url(../img/point-active.png) no-repeat;
}

.content {
    /* background-color: red; */
}
.content h1 {
    text-align: center;
    font: bold 24px Georgia;
    padding: 6px 0 20px 0;
    background: url(../img/line.png) no-repeat bottom center;
    margin-bottom: 38px;
}
.content .pl, .content .cs, .content .uc,
.contact .sc, .contact .co, .contact .nu {
    float: left;
    width: 300px;
    /* height: 100px; */
    /* background-color: aqua; */
}
.content .cs,
.contact .co {
    margin: 0 20px;
}
.content h2 {
    color: #11719e;
    font: 21px Georgia;
}
.content .p1 {
    color: #8c8c8c;
    font: 12px "Myriad Pro";
}
.content .imgDiv {
    width: 299px;
    height: 190px;
    background: url(../img/pic/pic-bg.png) no-repeat;
    margin: 16px 0 10px 0;
    text-align: center;
    padding-top: 12px;
}
.content .p2 {
    height: 92px;
    color: #3e3e3e;
    font: 13px Helvetica;
    word-spacing: 2px;
}
.content .lm {
    display: block;
    width: 163px;
    height: 40px;
    background: url(../img/pic/btns.png) no-repeat;
    text-decoration: none;
    color: #016999;
    font: 12px/40px Helvetica;
    text-indent: 1em;
    margin-bottom: 35px;
}

.contact {
    background: url(../img/line.png) no-repeat top center;
}
.contact .txt {
    width: 276px;
    height: 33px;
    line-height: 33px;
    background: url(../img/input.png) no-repeat;
    /*单独为IE6设置一个背景不随元素滚动*/
    _background-attachment: fixed;
    /* 去掉input默认边框 */
    border: none;
    /* 去掉默认的内边距 */
    padding: 0 10px;
    margin: 0 0 16px;
}
.contact .tarea {
    width: 276px;
    height: 114px;
    background: url(../img/textarea.png) no-repeat;
    _background-attachment: fixed;
    border: none;
    overflow: auto;
    /* 设置文本域不能调整大小 */
    resize: none;
    padding: 10px;
    margin: 0;
}
.contact .btn{
	width: 163px;
    height: 32px;
    /* 雪碧图只适用于规则的背景图 */
	background: url(../img/sprite.png) no-repeat 0px -27px;
	border: none;
	
	/*
	 * 去除默认内外边距
	 */
	padding: 0;
	margin: 11px 0px 23px;
	
	/*设置字体*/
	color: white;
	font: 13px Georgia;
	/*设置文字的位置*/
	text-align: left;
	text-indent: 1em;
	/*
	 * cursor可以用来设置鼠标指针的样式
	 */
	cursor:pointer ;
	
}

/*
 * 设置标题
 */
.contact h2{
	color: #444;
	font: 18px/1 georgia;
	/**
	 * 设置下边框
	 */
	border-bottom: 1px dashed #d3d3d3;
	/*
	 * 设置内边距
	 */
	padding: 44px 0px 10px;
	/*设置一个下外边距*/
	margin-bottom: 15px;
}

/*设置联系栏左侧*/
.sc .p1{
	color: #444;
	font: 12px/1 Helvetica;
}
/*设置小图标*/
.sc .icon{
	/*设置字体大小为0，去除空格*/
	font-size: 0;
	/*设置上外边距*/
	margin-top: 4px;
}

.sc .icon a{
	margin-right: 6px;
}

/*设置左侧的第二个标题*/
.sc .nl{
	font: bold 18px/1 "gill sans mt";
	
	/*设置内边距*/
	padding: 34px 0px 10px;
	
}

/*设置左侧的表单项*/
.sc .txt{
	/*设置上外边距*/
	margin-top: 15px;
	/*为ie6设置上外边距*/
	_margin-top: 18px;
	margin-bottom: 0px;
}

/*设置联系栏右侧*/

.nu p{
	color: #444;
	font: 12px/1 helvetica;
	height: 58px;
	/*单独为IE6设置一个高度*/
	_height: 60px;
	/**
	 * 设置下边框
	 */
	border-bottom: 1px dashed #d3d3d3;
	
	margin-bottom: 14px;
	padding-bottom: 9px;
}

.nu .no-margin{
	margin-bottom: 0px;
}

.nu img{
	/*设置向左浮动*/
	float: left;
	margin-right: 8px;
	
}

.nu .btn{
	_margin-left: -1em;
}

/*设置底部*/
.footer{
	height: 173px;
	background: #333;
	/*设置上边框*/
	border-top: 10px solid #4c4c4c;
}

/*
 * 设置底部的文字的样式
 */
.footer a , .footer p{
	color: #999;
	font: 11px Helvetica ;
	text-decoration: none;
}

/*
 * 设置a元素的hover
 */
.footer a:hover{
	color: #cccaca;
	text-decoration: underline;
}

.footer p{
	margin-left: 8px;
	margin-right: 23px;
	margin-bottom: 6px;
}

.footer .w{
	padding-top:18px ;
}

.footer .copy{
	float: right;
	/*处理双倍边距的bug*/
	display: inline;
}


/* 解决高度塌陷 */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.clearfix {
    zoom: 1;
}