<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>hello gzhipin-server</h2>
    <p>只提供接口，不做服务器端渲染返回界面</p>
  </body>
</html>
