* {
  margin: 0;
  padding: 0;
}
.wrap {
  position: relative;
  width: 600px;
  height: 400px;
  border: 1px solid black;
}
.wrap .inner {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: pink;
}
.wrap .inner:hover {
  background-color: blue;
}
