<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="../lib/react.development.js"></script>
  <script src="../lib/react-dom.development.js"></script>
  <script src="../lib/babel.js"></script>
</head>
<body>
  <div class="app"></div>
  <div class="app2"></div>

  <script type="text/babel">
    // 定义组件
    // 1.工厂函数组件（简单组件）,有状态时不适用
    function MyComponent() {
      return <h2>工厂函数组件</h2>
    }
    // 2.es6类组件（复杂组件）
    class MyComponent2 extends React.Component {
      render() {
        console.log(this)
        return <h2>es6类组件</h2>
      }
    }

    // 渲染组件标签
    ReactDOM.render(
      <MyComponent />, 
      document.querySelector('.app')
    )
    ReactDOM.render(
      <MyComponent2 />, 
      document.querySelector('.app2')
    )
  </script>
</body>
</html>